/*textarea{*/
/*    width: 100%;*/
/*}*/

/*input[type=submit]{*/
/*    margin-top: 10px;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
    font-family: 'Do Hyeon', sans-serif;
}


.card-img-top {
    height: 15rem;
    object-fit: cover;
    border-bottom-color: #1a1e21;
}


.info-text{
    font-size: 25px;
    content: "";
    display: block;
    width: 250px;
    border-bottom: 1px solid #bcbcbc;
    margin: 20px;

}

.card-title-main {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
}

.card-text-main {
    font-size: 20px;
}

.card-title-head{
    font-size: 25px;
    margin-bottom: -10px;
}

.card-title-main2{
    font-size: 35px;
    margin-bottom: -10px;
    text-align: center;
}

.card-title-body{
    font-size: 20px;
    color: #6c757d;
}

.main-text-header{
    font-size: 40px;
    text-align: center;
}


.carousel-inner > .carousel-item active > img {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 200px;
}


