<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">
        <table class="table"  style="table-layout: fixed">
            <thead class="table-dark">
            <tr>
                <th style="text-align: center; width: 50px">번호</th>
                <th style="text-align: center;">프로그램명</th>
                <th style="text-align: center;">내용</th>
                <th style="text-align: center; width: 100px">마감일</th>
                <th style="text-align: center;">장소</th>
                <th style="text-align: center;">비용</th>
                <th style="text-align: center; width: 50px">URL</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bootcamp,loop : ${paging}">
                <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                <td th:text="${bootcamp.BName}" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: center"></td>
                <td th:text="${bootcamp.BContent}" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: center"></td>
                <td th:text="${bootcamp.BDay}" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: center"></td>
                <td th:text="${bootcamp.BLocation}" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: center"></td>
                <td th:text="${bootcamp.BCost}" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: center"><</td>
                <td>
                    <a th:href="${bootcamp.BUrl}" target="_blank" th:text="링크"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <div th:if="${!paging.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|?page=${paging.number-1}|}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'"
                    class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->
    </div>
</html>
