<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th style="text-align: center;">번호</th>
            <th style="text-align: center;">채용공고</th>
            <th style="text-align: center;">내용</th>
            <th style="text-align: center;">접수일</th>
            <th style="text-align: center;">URL</th>
            <th style="text-align: center;">비고</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employment,loop : ${employmentList}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:text="${employment.EName}"></a>
            </td>
            <td th:text="${employment.EContent}"></td>
            <td th:text="${employment.EDay}"></td>
            <td th:text="${employment.EUrl}"></td>
            <td th:text="${employment.ERemark}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>
