<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>제목</th>-->
<!--            <th>작성일시</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="interview, index : ${interviewList}">-->
<!--            <td>-->
<!--                <a th:href="@{|/interview/detail/${interview.IVNumber}|}" th:text="${interview.IVNumber}"></a>-->
<!--            </td>-->
<!--            <td th:text="${interview.IVName}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card" th:each="interview, index : ${1}">
                <a th:href="@{|/interview/detail/1|}" >
                    <img src="http://img1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/5CkV/image/AdCDUcZqNrrHELQ2PpUQVZ4mwS4.jpg" class="card-img-top" alt="한전KDN">
                </a>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">한전KDN</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" th:each="interview, index : ${2}">
                <a th:href="@{|/interview/detail/2|}" >
                    <img src="https://www.ldcc.co.kr/img/mobile/sub02/company_01.jpg" class="card-img-top" alt="롯데정보통신">
                </a>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">롯데정보통신</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" th:each="interview, index : ${3}">
                <a th:href="@{|/interview/detail/3|}" >
                    <img src="https://www.alio.go.kr/upload/report/2022/10/25/2022102509662103/%ED%95%9C%EA%B5%AD%ED%8A%B9%ED%97%88%EC%A0%95%EB%B3%B4%EC%9B%90ci.jpg" class="card-img-top" alt="한국특허정보원">

                </a>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">한국특허정보원</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" th:each="interview, index : ${4}">
                <a th:href="@{|/interview/detail/4|}" >
                    <img src="https://blog.kakaocdn.net/dn/cbbq84/btrKD2rrmJn/kCJjwHLFcVHpsqMQvKBn6K/img.png" class="card-img-top" alt="국민연금공단">

                </a>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">국민연금공단</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card" th:each="interview, index : ${5}">
                <a th:href="@{|/interview/detail/5|}" >
                    <img src="https://www.welcomebank.co.kr/web/ibn/img/common/open_graph_logo.png" class="card-img-top" alt="웰컴저축은행">

                </a>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">웰컴저축은행</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" th:each="interview, index : ${6}">
                <a th:href="@{|/interview/detail/6|}" >
                    <img src="https://obj-sg.thewiki.kr/data/49424bec8b9cec8aa4ed859c5f4c6f676f2e706e67.png" class="card-img-top" alt="IBK시스템">

                </a>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">IBK시스템</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" th:each="interview, index : ${7}">
                <a th:href="@{|/interview/detail/7|}" >
                    <img src="http://ncsplus.co.kr/_img/ssis/khwis7_0131_001.jpg" class="card-img-top" alt="한국사회보장정보원">
                </a>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">한국사회보장정보원</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" th:each="interview, index : ${8}">
                <a th:href="@{|/interview/detail/8|}" >
                    <img src="https://www.win-win.or.kr/_img/web/pc/comn/logo_sns.jpg" class="card-img-top" alt="대·중소기업·농어업협력재단">

                </a>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">대·중소기업·농어업협력재단</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>

</div>
</html>

