<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th style="text-align: center;">이름</th>
            <th style="text-align: center;">졸업년월</th>
            <th style="text-align: center;">학과</th>
            <th style="text-align: center;">입사기업명</th>
            <th style="text-align: center;">입사년도</th>
            <th style="text-align: center;">직무</th>
            <th style="text-align: center;">학점</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="interview: ${interviewList}">
            <td th:text="${interview.IVLName}"></td>
            <td th:text="${interview.IVLGraduation}"></td>
            <td th:text="${interview.IVLDepartment}"></td>
            <td th:text="${interview.IVLEnterprise}"></td>
            <td th:text="${interview.IVLDate}"></td>
            <td th:text="${interview.IVLJob}"></td>
            <td th:text="${interview.IVLCredit}"></td>

        </tr>
        </tbody>
    </table>
    <table class="table">
    <thead class="table-dark">
    <tr>
        <th style="text-align: center;">자격증</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="interview: ${interviewList}">
        <td th:text="${interview.IVLCertificate}"></td>
    </tr>
    </tbody>
    </table>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th style="text-align: center;">내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="interview: ${interviewList}">
            <td th:text="${interview.IVLContents}"></td>
        </tr>
        </tbody>
    </table>


</div>
</html>

