<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div>
        <br/>
        <p class="main-text-header">나한테 맞는 정보를 찾아보아요<b>😆</b></p>

        <br/>
    </div>

    <br/>
    <br/>
    <div class="info-text">
        <p>📚스터디 그룹 구하기</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card h-100">
                <div class="card-body">

                    <img src="https://imageio.forbes.com/specials-images/imageserve/5e7cce1921695a000666cc29/Java-14/960x0.jpg?format=jpg&width=960"
                         class="card-img-top" alt="...">
                    <p class="card-title-main">자바 스터디 모임</p>
                    <p class="card-text-main">자바, 초급</p> <br/>

                    <p class="card-title-main">카카오톡 ID</p>
                    <p class="card-text-main">choonghee123</p> <br/>
                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://open.kakao.com/o/gK46WXQe" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <img src="https://imageio.forbes.com/specials-images/imageserve/5e7cce1921695a000666cc29/Java-14/960x0.jpg?format=jpg&width=960"
                         class="card-img-top" alt="...">
                    <p class="card-title-main">자바 스터디 모임</p>
                    <p class="card-text-main">자바, 초급</p> <br/>

                    <p class="card-title-main">카카오톡 ID</p>
                    <p class="card-text-main">choonghee123</p> <br/>
                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://open.kakao.com/o/gK46WXQe" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <img src="https://imageio.forbes.com/specials-images/imageserve/5e7cce1921695a000666cc29/Java-14/960x0.jpg?format=jpg&width=960"
                         class="card-img-top" alt="...">
                    <p class="card-title-main">자바 스터디 모임</p>
                    <p class="card-text-main">자바, 초급</p> <br/>

                    <p class="card-title-main">카카오톡 ID</p>
                    <p class="card-text-main">choonghee123</p> <br/>
                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://open.kakao.com/o/gK46WXQe" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="info-text">
        <p>🧑‍🏫교육 확인하기</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card h-100">
                <div class="card-body">

                    <p class="card-title-main2">비트캠프 웹/자바 Spring</p><br/>
                    <p class="card-title-head"> 마감일 </p>
                    <p class="card-title-body"> 22-12-04</p>
                    <p class="card-title-head"> 가격 </p>
                    <p class="card-title-body"> 18만원</p>
                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://www.bitcamp.co.kr/og.png" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">

                    <p class="card-title-main2"> 데이터리안 데이터 분석 캠프</p><br/>
                    <p class="card-title-head"> 마감일 </p>
                    <p class="card-title-body"> 22-12-04</p>
                    <p class="card-title-head"> 가격 </p>
                    <p class="card-title-body"> 46만원</p>

                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://www.datarian.io/bootcamp/sql-advanced?utm_source=boottent&utm_medium=community&utm_campaign=sql-advanced&" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-title-main2">KT ALIVE School</p><br/>
                    <p class="card-title-head"> 마감일 </p>
                    <p class="card-title-body"> 22-12-05</p>
                    <p class="card-title-head"> 가격 </p>
                    <p class="card-title-body"> 무료</p>
                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://c.incru.it/newjobpost/2021/10_ktai/1025/kt_02.png" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="info-text">
        <p>🎡공모전 확인하기</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card h-100">
                <div class="card-body">

                    <p class="card-title-main2">AI Security 공모전</p><br/>
                    <p class="card-title-head"> 마감일 </p>
                    <p class="card-title-body"> 22-12-09</p>
                    <p class="card-title-head"> 상금</p>
                    <p class="card-title-body"> 300만원</p>
                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://www.kisa.or.kr/401/form?postSeq=302816" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-title-main2">제2회 K-water AI 경진대회</p><br/>
                    <p class="card-title-head"> 마감일 </p>
                    <p class="card-title-body"> 22-12-10</p>
                    <p class="card-title-head"> 상금</p>
                    <p class="card-title-body"> 100만원</p>
                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://aifactory.space/" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-title-main2">CREATIVE HACKATHON</p><br/>
                    <p class="card-title-head"> 마감일 </p>
                    <p class="card-title-body"> 22-12-05</p>
                    <p class="card-title-head"> 상금</p>
                    <p class="card-title-body"> 500만원</p>
                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://www.wevity.com/?c=find&s=1&gbn=viewok&gp=1&ix=71016" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="info-text">
        <p>🖥️인턴쉽 확인하기</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-title-main2">네이버웹툰 AI Engineer</p><br/>
                    <p class="card-title-head"> 마감일 </p>
                    <p class="card-title-body"> 상시채용</p>

                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://recruit.naverlabs.com/" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-title-main2">웅진 하반기 채용연계형 인턴</p><br/>
                    <p class="card-title-head"> 마감일 </p>
                    <p class="card-title-body"> 22-12-04</p>

                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://woongjin-it.recruiter.co.kr/app/jobnotice/view?systemKindCode=MRS2&jobnoticeSn=122755" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-title-main2">LG엔솔 대학생인턴십</p><br/>
                    <p class="card-title-head"> 마감일 </p>
                    <p class="card-title-body"> 22-12-11</p>

                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://careers.lg.com/app/job/RetrieveJobNoticesDetail.rpi?jobNoticeId=396974" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="info-text">
        <p>🏢채용정보 확인하기</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-title-main2">메가존 클라우드</p><br/>
                    <p class="card-title-head"> 마감일 </p>
                    <p class="card-title-body"> 상시채용</p>

                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://www.megazone.com/career/" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-title-main2">Microsoft</p><br/>
                    <p class="card-title-head"> 마감일 </p>
                    <p class="card-title-body"> 22-12-04</p>

                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://careers.microsoft.com/us/en" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-title-main2">안랩</p><br/>
                    <p class="card-title-head"> 마감일 </p>
                    <p class="card-title-body"> 22-12-04</p>

                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://ahnlab.recruiter.co.kr/app/jobnotice/view?systemKindCode=MRS2&jobnoticeSn=122517" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</html>
