<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div>
        <br/>
        <p class="main-text-header">나한테 맞는 정보를 찾아보아요<b>😆</b></p>

        <br/>
    </div>

    <br/>
    <br/>
    <div class="info-text">
        <p>스터디 그룹 구하기</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card h-100">
                <div class="card-body">

                    <img src="https://imageio.forbes.com/specials-images/imageserve/5e7cce1921695a000666cc29/Java-14/960x0.jpg?format=jpg&width=960"
                         class="card-img-top" alt="...">
                    <p class="card-title-main">자바 스터디 모임</p>
                    <p class="card-text-main">자바, 초급</p> <br/>

                    <p class="card-title-main">카카오톡 ID</p>
                    <p class="card-text-main">choonghee123</p> <br/>
                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://open.kakao.com/o/gK46WXQe" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <img src="https://imageio.forbes.com/specials-images/imageserve/5e7cce1921695a000666cc29/Java-14/960x0.jpg?format=jpg&width=960"
                         class="card-img-top" alt="...">
                    <p class="card-title-main">자바 스터디 모임</p>
                    <p class="card-text-main">자바, 초급</p> <br/>

                    <p class="card-title-main">카카오톡 ID</p>
                    <p class="card-text-main">choonghee123</p> <br/>
                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://open.kakao.com/o/gK46WXQe" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <img src="https://imageio.forbes.com/specials-images/imageserve/5e7cce1921695a000666cc29/Java-14/960x0.jpg?format=jpg&width=960"
                         class="card-img-top" alt="...">
                    <p class="card-title-main">자바 스터디 모임</p>
                    <p class="card-text-main">자바, 초급</p> <br/>

                    <p class="card-title-main">카카오톡 ID</p>
                    <p class="card-text-main">choonghee123</p> <br/>
                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://open.kakao.com/o/gK46WXQe" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-text">
        <p>교육 확인하기</p>
    </div>
    <div class="info-text">
        <p>공모전 확인하기</p>
    </div>
    <div class="info-text">
        <p>인턴쉽 확인하기</p>
    </div>
    <div class="info-text">
        <p>채용정보 확인하기</p>
    </div>

</div>
</html>
