<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">


    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h7 class="card-title">자바 스터디 모임</h7>
                    <p class="card-text">자바, 초급</p> <br/>

                    <h7 class="card-title">카카오톡 ID</h7>
                    <p class="card-text">choonghee123</p> <br/>
                </div>
                <div class="card-footer">
                    <div align="center">
                        <a href="https://open.kakao.com/o/gK46WXQe" class="btn btn-primary" style="width: 100px">링크</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">

                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>


</div>
</html>
